analysis/*.nb.html          linguist-detectable=false
analysis/archived/*.nb.html linguist-detectable=false
figures/*                   linguist-detectable=false
*.sql                       linguist-detectable=true
