analysis/*.nb.html          linguist-generated=true
analysis/archived/*.nb.html linguist-generated=true
figures/*                   linguist-generated=true
*.sql                       linguist-detectable=true
